{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'weather/base/base.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'weather/base/base.css' %}"/>
    <title>{% block title %} {% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

  <body>
      <header>
        <div class="header-first-row">
          <h1 class="title">{% block body_title %}{% endblock %}</h1>
        </div>

        <nav class="navbar"></nav>
      </header>
        {% comment %} Here is the place where to put a components {% endcomment %}
      <main>{% block content %}{% endblock %}</main>
  </body>
</html>
