{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'weather/base.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'weather/base.css' %}"/>
    <title>{% block title %} {% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

  <body>
      <header>
        <div class="header-first-row">
          <h1 class="title">Django Simple Weather App</h1>
        </div>

        <nav class="navbar">
            {% comment %} <a class="nav-item" href="{% url 'home' %}">Home</a> {% endcomment %}
            {% comment block %} <a class="nav-item" href="{% url 'lines' %}">Lines</a> {% endcomment %}
            {% comment %} <a class="nav-item" href="{% url 'stations' %}">Stations</a> {% endcomment %}
            {% comment %} <a class="nav-item" href="{% url 'stops' %}">Stops</a> {% endcomment %}
        </nav>
      </header>
        {% comment %} Here is the place where to put a components {% endcomment %}
      <main>{% block content %}{% endblock %}</main>
  </body>
</html>
